.hero-section {
  width: 100%;
  z-index: 2;
}

.hero-section-content{
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 2rem;
  justify-content: space-between;
  box-sizing: border-box;
}

.hero-content-left{
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 5vw, 12rem);
  align-items: center;
}

.hero-section-content .hero-content-left h1 {
  width: 100%;
  font-size: clamp(1rem, 5vw, 3rem);
  color: var(--light-title-color);
}

.hero-content-left button {
  border: 2px solid var(--light-title-color);
  box-sizing: border-box;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-weight: clamp(500, 5vw, 700);
  padding: 1rem 1.5rem;
  min-width: fit-content;
  max-width: 300px;
  color: var(--light-title-color);
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.1s ease;
}

.hero-content-left button:hover {
  background-color: var(--light-title-color);
  color: var(--light-bg-color);
  border: none;
  transform: scale(1.1);
}

.hero-section-content .hero-cat {
  width: 35%;
  height: fit-content;
  padding: 0;
  margin: 0;
  /* background-color: red; */
}

.hero-cat img {
  width: 100%;
  height: auto;
  object-fit: contain;
  /* background-color: blue; */
}

@media (max-width: 720px) {
  
  .hero-section-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 2rem;
    align-items: center;
    box-sizing: border-box;
}

  .hero-content-left{
    width: 100%;
    display: flex;
    /* flex-direction: row-reverse; */
  }

  .hero-content-left button {
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
  }

  .hero-section-content .hero-cat {
    width: 70%;
    height: fit-content;
    padding: 0;
    margin: 0;
    /* background-color: red; */
  }

  .hero-cat img {
    width: 100%;
    height: auto;
    object-fit: contain;
    /* background-color: blue; */
  }
}