.product-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: clamp(1rem, 5vw, 2rem);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
}

@media (max-width: 720px) {
  .product-section{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 488px) {
  .product-section{
    padding: 4rem;
  }
}

@media (max-width: 376px) {
  .product-section {
    padding: 4rem 3rem;
  }
}

@media (max-width: 328px) {
  .product-section{
    padding: 4rem 2rem;
  }
}